body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.customer-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 1300px;
    margin: auto;
    margin-top: 5%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header */
.customer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 15px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
}

/* Add Customer Button */
.add-customer-btn {
    background-color: #803a2f;
    height: 7vh;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

.add-customer-btn:hover {
    background-color: #b26a60;
}

.send-customer-btn{

    background-color: #1c3a72;
    height: 7vh;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

.send-customer-btn:hover {
    background-color: #7486b7;
}



/* Customer List */
.customer-list {
    margin-top: 20px;
    background: #e3f2fd;
    padding: 15px;
    border-radius: 8px;
}

/* Customer Table */
.customer-table {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/* Search box */
.search-box {
    width: 20%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Action buttons */
button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 12px;
}
