{% extends "bopo_admin/base.html" %}
{% load static %} 

{% block content %}
    <link rel="stylesheet" href="{% static 'bopo_admin/css/customer_uploads.css' %}">
<h2>Merchant Uploads</h2>

<div class="upload-container">

    <!-- Privacy Policy Upload -->
    <div class="upload-box">
        <label>Privacy Policy</label>
        <form>
            {% csrf_token %}
            <input type="file" name="privacy_policy" required>
            <button type="submit">Upload</button>
        </form>
    </div>

    <!-- Terms & Conditions Upload -->
    <div class="upload-box">
        <label>Terms And Conditions</label>
        <form>
            {% csrf_token %}
            <input type="file" name="terms_conditions" required>
            <button type="submit">Upload</button>
        </form>
    </div>

    <!-- User Guide Upload -->
    <div class="upload-box">
        <label>User Guide</label>
        <form>
            {% csrf_token %}
            <input type="file" name="user_guide" required>
            <button type="submit">Upload</button>
        </form>
    </div>

</div>

{% endblock %}
