{% load static %}
{% block content %}

 <link rel="stylesheet" href="{% static 'bopo_admin/css/forgot_passward.css' %}"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="colorful-line"></div>

<div class="center-wrapper">
    <div class="login-header">
        <h2>Reset <span>Password</span></h2>
        <p style="text-align:center;">Enter your email address and we'll send you a link to reset your password.</p>

        <div class="login-container">

            {% if messages %}
                {% for message in messages %}
                    <div class="custom-alert">
                        <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                        <div class="message">{{ message }}</div>
                    </div>
                {% endfor %}
            {% endif %}

            <form method="post" action="">
                {% csrf_token %}

              <div class="form-group">
                    <label for="id_email">Email Address</label>
                    
                    <div class="input-wrapper">
                        <i class="fa-solid fa-envelope input-icon"></i>
                        <input 
                            type="email" 
                            id="id_email" 
                            name="email" 
                            placeholder="Enter your email address" 
                            required>
                    </div>
                </div>


                <button type="submit">Send Reset Link</button>

                <div class="back-to-login">
                    <a href="{% url 'login' %}"><i class="fa-solid fa-arrow-left"></i> Back to Login</a>
                </div>
            </form>
        </div>

        {% comment %} <div class="footer-text">
            A Trademark Product of 
            <a href="#">Miraasiv Onpay Technologies Pvt Ltd.</a> All rights reserved.
        </div> {% endcomment %}
    </div>
</div>


{% endblock %}
